.tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 40rem;
  margin-top: -12vh;

  .tours__grid {
    max-width: 100rem;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    .card {
      // Setting perspective on parent
      perspective: 150rem;
      -moz-perspective: 150rem;
      position: relative;
      height: 50rem;

      &__side {
        height: 50rem;
        color: #111;
        font-size: 5rem;
        transition: all 0.8s ease-in;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;

        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
          background-color: $color-white;
        }
        &--back {
          transform: rotateY(-180deg);

          &-1 {
            background-image: linear-gradient(
              to right bottom,
              rgba($color-secondary-light, 0.7),
              rgba($color-secondary-dark, 0.7)
            );
          }
          &-2 {
            background-image: linear-gradient(
              to right bottom,
              rgba($color-tertiary-light, 0.7),
              rgba($color-tertiary-dark, 0.7)
            );
          }
          &-3 {
            background-image: linear-gradient(
              to right bottom,
              rgba($color-primary-light, 0.7),
              rgba($color-primary-dark, 0.7)
            );
          }
        }
      }
      //   $color-secondary-light

      &:hover .card__side--front {
        transform: rotateY(-180deg);
      }
      &:hover .card__side--back {
        transform: rotateY(0);
      }
    }
  }
}
