.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(128, 214, 113, 0.7),
      rgba(40, 180, 133, 0.7)
    ),
    url(../assets/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);
  position: relative;
}

.header__logo-container {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
  cursor: pointer;
}

.header__main-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 4rem;

  backface-visibility: hidden;
}
.heading-primary--main,
.heading-primary--secondary {
  display: block;
}
.heading-primary--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;

  animation-name: moveInLeft;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  /* animation-delay: 2s; */
}
.heading-primary--secondary {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;

  animation: moveInRight 1.2s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* button */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  /* background-color: turquoise; */
  display: inline-block;

  transition: all 0.2s ease-in;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

/* Adding Affects to Button */

.btn::after {
  content: "";
  display: inline-block;

  width: 100%;
  height: 100%;

  border-radius: 10rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.25s ease-in;
}
.btn--primary::after {
  background-color: #fff;
}

.btn--primary {
  background-color: #fff;
  color: #777;
}

.btn:hover::after {
  transform: scaleX(1.8) scaleY(1.5);
  opacity: 0;
}

.btn--animation {
  animation: moveInTop 0.6s ease-in-out 0.6s backwards;
}
